<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>327489CC1DAF33D500DA2DD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>327489E51DAF33D500DA2DD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>327489F01DAF33D500DA2DD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
