<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01一般用法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32443F051D80E9D7001C930D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32443F191D80E9D7001C930D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32443F241D80E9D7001C930D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
