<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITextViewStringLength.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32D5EA901E6E5779007F381E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32D5EAA91E6E577A007F381E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32D5EAB41E6E577A007F381E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
