<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>photoSelectDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31A3CA7E1DC77E8D00DEECEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A3CA971DC77E8D00DEECEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A3CAA21DC77E8D00DEECEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
